body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    color: #333;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}

header h1 {
    font-size: 2.5em;
    margin: 0 0 20px;
    text-align: center;
    color: #2c3e50;
}

.description {
    background: #ecf0f1;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

nav {
    margin-bottom: 20px;
}

.tabs {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid #ccc;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1.2em;
    background: #ecf0f1;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
}

.tab:hover {
    background: #bdc3c7;
}

.tab.active {
    background: #3498db;
    color: #fff;
    border-bottom: none;
}

.tab-content {
    display: none;
    padding: 20px;
    background: #ecf0f1;
    border-radius: 0 5px 5px 5px;
}

.tab-content.active {
    display: block;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
}

form button:hover {
    background: #2980b9;
}

.result {
    background: #ecf0f1;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

.grid-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid-form div {
    display: flex;
    flex-direction: column;
}

.grid-form2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.grid-form2 div {
    display: flex;
    flex-direction: column;
}

.grid-form2-label {
    position: relative;
    top: 10px;
}

.grid-form3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-form2 div {
    display: flex;
    flex-direction: column;
}

.radio-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
}

.radio-grid div {
    display: flex;
    align-items: center;
}

.radio-grid input {
    /* margin-bottom: 30px; */
    position: relative;
    right: 15px;
}

.radio-grid label {
    white-space: nowrap;
    position: relative;
    right: 45px;
    bottom: 6px;
}
