body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    color: #333;
}

.container {
    max-width: 1000px;
    min-width: 330px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}

header h1 {
    font-size: 2.5em;
    margin: 0 0 20px;
    text-align: center;
    color: #2c3e50;
}

.description {
    background: #ecf0f1;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

nav {
    margin-bottom: 20px;
}

.tabs {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid #ccc;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1.2em;
    background: #ecf0f1;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
}

.tab:hover {
    background: #bdc3c7;
}

.tab.active {
    background: #3498db;
    color: #fff;
    border-bottom: none;
}

.tab-content {
    display: none;
    padding: 20px;
    background: #ecf0f1;
    border-radius: 0 5px 5px 5px;
}

.tab-content.active {
    display: block;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
}

form button:hover {
    background: #2980b9;
}

.result {
    background: #ecf0f1;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

.grid-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid-form div {
    display: flex;
    flex-direction: column;
}

.grid-form2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.grid-form2 div {
    display: flex;
    flex-direction: column;
}

.grid-form2-label {
    position: relative;
    top: 10px;
}

.flex-form1 {
    display: flex;
}

.flex-form1-1 {
    gap: 200px;
    flex: 1;
}

.flex-form1-2 {
    gap: 200px;
    flex: 1;
}

.flex-form2 {
    display: flex;
    gap: 10px;
}

.grid-form3_label {
    display: flex;
}

.grid-form3_label1 {
    /* width: 10px; */
    gap: 200px;
    flex: 1;
}

.grid-form3_label2 {
    /* width: 10px; */
    gap: 200px;
    flex: 1;
}

.grid-form3_label3 {
    /* width: 10px; */
    gap: 200px;
    flex: 1;
}

.grid-form3_input {
    display: flex;
    gap: 10px;
}

.grid-form2 div {
    display: flex;
    flex-direction: column;
}

.radio-grid1 {
    display: flex;
    align-items: center;
}

.radio-grid1-1 {
    flex: 1;
}

.radio-grid1-2 {
    flex: 1;
    position: relative;
    bottom: 6px;
}

.radio-grid1-3 {
    flex: 1;
}

.radio-grid1-4 {
    flex: 1;
    position: relative;
    bottom: 6px;
}

.radio-grid1-5 {
    flex: 1;
}

.radio-grid1-6 {
    flex: 1;
    position: relative;
    bottom: 6px;
}

.radio-grid1-7 {
    flex: 1;
}

.radio-grid1-8 {
    flex: 1;
    position: relative;
    bottom: 6px;
}

.radio-grid2 {
    display: flex;
    align-items: center;
}

.radio-grid2-1 {
    flex: 1;
}

.radio-grid2-2 {
    flex: 1;
    position: relative;
    bottom: 6px;
}

.radio-grid2-3 {
    flex: 1;
}

.radio-grid2-4 {
    flex: 1;
    position: relative;
    bottom: 6px;
}

.radio-grid2-5 {
    flex: 1;
}

.radio-grid2-6 {
    flex: 1;
    position: relative;
    bottom: 6px;
}

.radio-grid2-7 {
    flex: 1;
}

.radio-grid2-8 {
    flex: 1;
    position: relative;
    bottom: 6px;
}

.radio-grid2 {
    display: flex;
}

.gift-type {
	overflow: hidden;
    width: calc(100%);
    padding: 10px;
	text-align: left;
    margin-bottom: 15px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tab3_form_label {
    display: flex;
}

.tab3_form_label_1 {
    gap: 200px;
    flex: 1;
}

.tab3_form_label_2 {
    gap: 200px;
    flex: 1;
}

.tab3_form_content {
    display: flex;
    gap: 9px;
}
